.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
}

.name-container {
    display: flex;
    gap: 20px;
}

.name-container p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-top: 20px;
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.input-wrapper input {
    padding: 12px;
    font-size: 16px;
    border: 0.5px solid grey;
    border-radius: 15px;
}

.input-wrapper button {
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

.user {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #b2b2b2;
}

.avatar {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 15px;
}
.profile-info div{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}